name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client-sdk-android
    steps:
    - name: checkout client-sdk-android
      uses: actions/checkout@v2.3.4
      with:
        path: ./client-sdk-android
        submodules: recursive

    - name: set up JDK 12
      uses: actions/setup-java@v2
      with:
        java-version: '12'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew livekit-android-sdk:assembleRelease livekit-android-sdk:testRelease

    - name: Import video test keys into gradle properties
      run: |
        sed -i -e "s,livekitApiKey=,livekitApiKey=$LIVEKIT_API_KEY,g" gradle.properties
        sed -i -e "s,livekitApiSecret=,livekitApiSecret=$LIVEKIT_API_SECRET,g" gradle.properties
      env:
        LIVEKIT_API_KEY: ${{ secrets.LIVEKIT_API_KEY }}
        LIVEKIT_API_SECRET: ${{ secrets.LIVEKIT_API_SECRET }}
      
    - name: Build video test app
      run: ./gradlew video-encode-decode-test:assembleDebug video-encode-decode-test:assembleDebugAndroidTest
      
    - name: Video Encode Decode App upload and Set app id in environment variable.
      run: |
        APP_UPLOAD_RESPONSE=$(curl -u "$BROWSERSTACK_USERNAME:$BROWSERSTACK_ACCESS_KEY" -X POST https://api-cloud.browserstack.com/app-automate/upload -F "file=@video-encode-decode-test/build/outputs/apk/debug/video-encode-decode-test-debug.apk")
        echo "APP_UPLOAD_RESPONSE : " + $APP_UPLOAD_RESPONSE
        APP_ID=$(echo $APP_UPLOAD_RESPONSE | jq -r ".app_url")
        if [ $APP_ID != null ]; then
          echo "Apk uploaded to BrowserStack with app id : ",$APP_ID;
          echo "BROWSERSTACK_APP_ID=$APP_ID" >> $GITHUB_ENV;
          echo "Setting value of BROWSERSTACK_APP_ID in environment variables to  ",$APP_ID;
        else
          UPLOAD_ERROR_MESSAGE=$(echo $APP_UPLOAD_RESPONSE | jq -r ".error")
          echo "App upload failed, reason : ",$UPLOAD_ERROR_MESSAGE
          exit 1;
        fi
      env:
        BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
        BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

    - name: Video Encode Decode Test Suite upload and Set test suite id in environment variable.
      run: |
        APP_UPLOAD_RESPONSE=$(curl -u "$BROWSERSTACK_USERNAME:$BROWSERSTACK_ACCESS_KEY" -X POST https://api-cloud.browserstack.com/app-automate/espresso/v2/test-suite -F "file=@video-encode-decode-test/build/outputs/apk/androidTest/debug/video-encode-decode-test-debug-androidTest.apk")
        echo "APP_UPLOAD_RESPONSE : " + $APP_UPLOAD_RESPONSE
        APP_ID=$(echo $APP_UPLOAD_RESPONSE | jq -r ".test_suite_url")
        if [ $APP_ID != null ]; then
          echo "Test Suite Apk uploaded to BrowserStack with id : ",$APP_ID;
          echo "BROWSERSTACK_TEST_ID=$APP_ID" >> $GITHUB_ENV;
          echo "Setting value of BROWSERSTACK_TEST_ID in environment variables to  ",$APP_ID;
        else
          UPLOAD_ERROR_MESSAGE=$(echo $APP_UPLOAD_RESPONSE | jq -r ".error")
          echo "App upload failed, reason : ",$UPLOAD_ERROR_MESSAGE
          exit 1;
        fi
      env:
        BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
        BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
        
    - name: Trigger BrowserStack tests
      run: |
        TEST_RESPONSE=$(curl -u "$BROWSERSTACK_USERNAME:$BROWSERSTACK_ACCESS_KEY" \
-X POST "https://api-cloud.browserstack.com/app-automate/espresso/v2/build" \
-d '{"deviceLogs": true, "app": "$BROWSERSTACK_APP_ID", "testSuite": "$BROWSERSTACK_TEST_ID", "devices": ["Samsung Galaxy Tab S8-12.0","Samsung Galaxy S22-12.0", "Samsung Galaxy S21-12.0","Samsung Galaxy S20-10.0", "Google Pixel 6-12.0", "Google Pixel 5-11.0", "Google Pixel 4-11.0", "Google Pixel 3-10.0", "OnePlus 7-9.0","Xiaomi Redmi Note 8-9.0","Huawei P30-9.0"]}' \
-H "Content-Type: application/json")
        echo "APP_UPLOAD_RESPONSE : " + $APP_UPLOAD_RESPONSE
      env:
        BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
        BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
        
    - name: get version name
      if: github.event_name == 'push'
      run: echo "::set-output name=version_name::$(cat gradle.properties | grep VERSION_NAME | cut -d "=" -f2)"
      id: version_name

    - name: Create gpg key and import into gradle properties
      if: github.event_name == 'push' && contains(steps.version_name.outputs.version_name,'SNAPSHOT')
      run: |
        echo $GPG_KEY_ARMOR | base64 --decode > ./release.asc
        gpg --quiet --output $GITHUB_WORKSPACE/release.gpg --dearmor ./release.asc
        sed -i -e "s,nexusUsername=,nexusUsername=$NEXUS_USERNAME,g" gradle.properties
        sed -i -e "s,nexusPassword=,nexusPassword=$NEXUS_PASSWORD,g" gradle.properties
        sed -i -e "s,signing.keyId=,signing.keyId=$GPG_KEY_ID,g" gradle.properties
        sed -i -e "s,signing.password=,signing.password=$GPG_PASSWORD,g" gradle.properties
        sed -i -e "s,signing.secretKeyRingFile=,signing.secretKeyRingFile=$GITHUB_WORKSPACE/release.gpg,g" gradle.properties
      env:
        GPG_KEY_ARMOR: "${{ secrets.SIGNING_KEY_ARMOR }}"
        GPG_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
        GPG_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
        NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
        NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}

    - name: Publish snapshot
      if: github.event_name == 'push' && contains(steps.version_name.outputs.version_name,'SNAPSHOT')
      run: ./gradlew publish
